body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: rgb(195, 195, 236);
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

} 
header { 
    border-bottom: 1px solid blue; 
    border-collapse: collapse;
    border-color: black;
    font-weight: 300;
    background-color: beige;
}
.logo {
    position: fixed;
    height: auto;
    left: 0%;
    width: 10%;
    top: 25px;
    float: left;
}
h2 {
    font-size:15px;
    margin: 20px;
    padding-left: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-style: oblique;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    margin-left: 20%;
    margin-right: auto;
    text-align: center;
   
}

.container {
    background-image:url( '../media2/acgsimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30%;
    width: 95%;
    font-style: oblique;
    font-weight: 400px;
    text-align: start;
    padding-bottom: 20px;
    border-bottom: 1px solid blue;
}
.purpose{
    display: grid;
    align-items: center;
    justify-content: center;
}
.text {
    color: black;
    font-size: smaller;
    font-weight: 100px;
    padding-right: 20px;
    padding-top: 20px;
    top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.text2 {
    text-align: justify;
}
button {
    background-color: blue; 
    border-radius: 100px;
    display: flexbox;
    
}
.img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.layout {
    display: grid;
    grid-template-columns: 3,1fr;
    padding: 7.5%;
    border-bottom: 1px dotted blue;
}
footer {
    background-color: blue;
    font-style: italic;
    padding-left: 15px;
    padding-right: 15px;
    font-size: large;
    border-collapse: collapse;
}
.maindiv {
    align-items: center;
    justify-content: space-between;
    display: flex; 
}
.connect {
   text-align: end;
    color: black;
}
h4 {
    display: block;
    margin-left: auto;
    margin-right: 30%;
}
/* If the screen size is 481px or less, set the font-size of <div> to 20px */
@media only screen and (max-width:481px) {
    div.example {
        font-size: 80px;
    }
}
/* If the screen size is 482px or less, st the font-size of <div> to 70px */
@media screen {
    
}